body{
  background-color: teal;
  text-align: center;
}
h1{
  font-size: 40px;
  font-style: Montserrat;
}
h2{
  font-size: 32px;
  font-style: Oi;
}
h3{
  font-size: 24px;
}
p{
  font-size: 16px;
}
ul{
  list-style-type: none;
}
ul li{
  background: red;
  font-size: 20px;
}
.list{
  margin: 40px
}
p.disclaimer{
  font-style: italic;
}
header{
  background: cyan;
}
footer{
  background: magenta;
}
nav{
   position: sticky;
    top: 0;
    overflow: hidden;
    background-color: Green;
}
